/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
}


/* Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-link {
    position: relative;  /* places to the right under nav links only */
}

.nav-link::after {
    content: "";
    height: 3px;
    width: 0;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s; 
}
.nav-link:hover::after {
    width: 100%;
}
/* End of Navbar */


/* Header */
.header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.header video {
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

.text-box {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85)), url("../img/black-sand.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;  /* places video content in text */
}

.text-box h1 {
    font-size: 130px;
    font-weight: 900;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
}

.small-text {
    font-size: 50px;
}

.text-box h1, .small-text {
    line-height: 115px;
}
/* End of Header */


/* Intro / About Me */
.lower-text {
    color: #0dcaf0;
    vertical-align: -15px;
}

.intro {
    position: relative;
}

.intro::before {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aquamarine;
    z-index: -1;
}
/* End of Intro / About Me */


/* Featured Projects */
.featured-title {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/black-sand.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bi-stars {
    color: aqua;
}
/* End of Featured Projects */


/* Footer */
.fa-brands {
    color: aqua;
}

.footer-links {
    text-decoration: underline wavy;
    text-decoration-color: aqua;
}
/* End of Footer */


/* About Page */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/black-sand.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* End of Projects Page */


/* Projects Page */
.projects:hover {
    box-shadow: 4px 4px 15px 3px black;
    transition: 0.3s ease;
}
/* End of Projects Page */


/* Contact Page */
.contact-form {
    background: rgba(0, 0, 0, 0.9);
}

.form-background {
    background: rgba(4, 205, 255, 0.527);
    /* background: linear-gradient(to bottom, rgba(36, 193, 255, 0.493), #0dcaf0, rgba(0, 0, 0, 0.9)); */
    border: 2px dotted aquamarine;
    border-radius: 5px;
}

.input-group-text, .form-control {
    border-color: black;
}
/* End of Contact Page */


/* Media Queries */
@media (max-width: 767px) {
    /* Intro / About Me */
    .intro::before {
        width: 100%;
        height: 35%;
    }
}

@media (max-width: 642px) {
    /* Header */
    .text-box h1 {
        font-size: 130px;
        font-weight: 900;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
    }
    .small-text {
        font-size: 45px;
    }
    .text-box h1, .small-text {
        line-height: 115px;
    }
}

@media (max-width: 632px) {
    /* Header */
    .text-box h1 {
        font-size: 120px;
        font-weight: 900;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
    }
    .small-text {
        font-size: 40px;
    }
    .text-box h1, .small-text {
        line-height: 95px;
    }
}

@media (max-width: 557px) {
    /* Header */
    .text-box h1 {
        font-size: 100px;
        font-weight: 900;
        padding-top: 30px;
        font-family: 'Roboto', sans-serif;
    }
    .small-text {
        font-size: 35px;
    }
    .text-box h1, .small-text {
        line-height: 87px;
    }
}
/* End of Media Queries */